<h1>Coin Combinations</h1>
<form action="/results">
  <label for="number">Enter the number of cents to be converted</label>
  <input id="number" name="number" type="text"/>

  <button type="submit">Submit!</button>
</form>
